@model CarrierIntegrator.session

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>session</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_sesion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_sesion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.nombre_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.nombre_usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_session }) |
    @Html.ActionLink("Back to List", "Index")
</p>
