@model CarrierIntegrator.areas_car

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>areas_car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion_area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion_area)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_area }) |
    @Html.ActionLink("Back to List", "Index")
</p>
