@model CarrierIntegrator.Usuarios

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edad_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edad_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pass_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pass_usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_usuario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
