@model IEnumerable<CarrierIntegrator.Usuarios>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            id
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.edad_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pass_usuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.id_usuario</td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.edad_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pass_usuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_usuario }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_usuario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_usuario })
        </td>
    </tr>
}

</table>
